* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.header {
    height: 10%;
    width: 100%;
    background-color: rgb(46, 118, 213);
    background-image: url(img/pattern.png);
    background-size: 300px;
}

#header--logo {
    width: 110px;
    height: 110px;
    padding-left: 20%;
}

main {
    height: 60%;
    width: 60%;
    margin: auto;
}

.main--text-gray {
    color: gray;
    font-size: 15px;
}

#main--text-blue {
    color: rgb(46, 118, 213);
}

#main--text-small {
    font-size: 10px;
}